In [1]:
import numpy as np
import pandas as pd

In [2]:
credits=pd.read_csv("tmdb_5000_credits.csv")
moviess=pd.read_csv("tmdb_5000_movies.csv")

In [3]:
moviess.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
moviess.isnull().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
dtype: int64

In [6]:
moviess=moviess.merge(credits,on="title")

In [7]:
#removing the unecssary columns
#and keeping this columns
moviess=moviess[["movie_id","title","overview","genres","keywords","cast","crew"]]
moviess.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4809 non-null   int64
 1   title     4809 non-null   object
 2   overview  4806 non-null   object
 3   genres    4809 non-null   object
 4   keywords  4809 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 263.1+ KB

In [8]:
moviess.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [9]:
moviess.dropna(inplace=True)

In [10]:
moviess.duplicated().sum()

0

In [11]:
import ast
def convert(obj):
    l=[]
    for i in ast.literal_eval(obj):
        l.append(i["name"])
    return l

In [12]:
moviess["genres"]=moviess["genres"].apply(convert)

In [13]:
moviess["keywords"]=moviess["keywords"].apply(convert)

In [14]:
import ast
def convert(obj):
    l=[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter !=3:
            l.append(i["name"])
            counter+=1 
        else:
            break
    return l

In [15]:
moviess["cast"]=moviess["cast"].apply(convert)

In [16]:
import ast
def fetch(obj):
    l=[]
    for i in ast.literal_eval(obj):
        if i["job"]=="Director":
            l.append(i["name"])
            break
    return l

In [17]:
moviess["crew"]=moviess["crew"].apply(convert)

In [18]:
#converting string to the list
moviess['overview']=moviess['overview'].apply(lambda x:x.split())

In [19]:
moviess["genres"]=moviess["genres"].apply(lambda x:[i.replace(" ","")for i in x])
moviess["keywords"]=moviess["keywords"].apply(lambda x:[i.replace(" ","")for i in x])
moviess["cast"]=moviess["cast"].apply(lambda x:[i.replace(" ","")for i in x])
moviess["crew"]=moviess["crew"].apply(lambda x:[i.replace(" ","")for i in x])

In [20]:
moviess["tags"]=moviess["overview"]+moviess["genres"]+moviess["keywords"]+moviess["cast"]+moviess["crew"]

In [54]:
new_df=moviess[["movie_id","title","tags"]]
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [56]:

new_df["tags"]=new_df["tags"].apply(lambda x:" ".join(x))

C:\Users\HP\AppData\Local\Temp\ipykernel_5420\863292047.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tags"]=new_df["tags"].apply(lambda x:" ".join(x))

In [57]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [58]:
new_df["tags"]=new_df["tags"].apply(lambda x:x.lower())

C:\Users\HP\AppData\Local\Temp\ipykernel_5420\2026548704.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tags"]=new_df["tags"].apply(lambda x:x.lower())

In [59]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [60]:
#vectorization
#  its the process of converting a string into vector 
# in this a most frequantable words will be taken and will be finding in each vector we will be taking 
# suppose the action is the genre the person choosed then it recommends u nearest vectors near to action 
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words="english")

In [63]:
vectors=cv.fit_transform(new_df['tags']).toarray()

In [64]:
cv.get_feature_names()

AttributeError: 'CountVectorizer' object has no attribute 'get_feature_names'

In [70]:
import nltk

In [71]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [72]:
#it helps in trimming the words like if ur having love loving loved then it gives for all this words one output that is love

def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [74]:
new_df["tags"]=new_df["tags"].apply(stem)

C:\Users\HP\AppData\Local\Temp\ipykernel_5420\1027202188.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tags"]=new_df["tags"].apply(stem)

In [75]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words="english")
vectors=cv.fit_transform(new_df['tags']).toarray()

In [78]:
len(vectors)

4806

In [80]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vectors)

In [95]:
#to check the cosine distance of first movie with other
similarity[0]

array([1.        , 0.08111071, 0.08346223, ..., 0.04588315, 0.        ,
       0.        ])

In [107]:
def recommend(movie):
    # Find the index of the movie in new_df
    movie_index = new_df[new_df["title"] == movie].index
    
    if len(movie_index) == 0:
        print(f"Movie '{movie}' not found.")
        return
    
    movie_index = movie_index[0]  # Extract the index from the list
    #it finds the distances of the movie from that it chooses minimum five distances 
    # Calculate similarity scores using the similarity matrix (assuming you have it defined)
    distances = similarity[movie_index]

    # Sort and get the indices of most similar movies (excluding the movie itself)
    movie_indices = sorted(range(len(distances)), key=lambda i: distances[i], reverse=True)[1:6]

    # Print recommended movie titles
    print("Recommended Movies:")
    for index in movie_indices:
        print(new_df.iloc[index]["title"])

In [108]:
recommend("Batman Begins")

Recommended Movies:
The Dark Knight
Batman
Batman
The Dark Knight Rises
10th & Wolf

In [102]:
new_df.iloc[119]["title"]

'Batman Begins'

In [110]:
import pickle
#to send the data from the file to app we use pickle library
pickle.dump(new_df,open("movies.pkl","wb"))

In [111]:
pickle.dump(new_df.to_dict(),open("movie_dict.pkl","wb"))

In [112]:
pickle.dump(similarity,open("similarity.pkl","wb"))